<!DOCTYPE html>
<html>
    <head>
         <link rel="icon" href="/images/weather.png">
        <title>404</title>
    </head>
<body>
    <div class="main-content">
         {{>header}}
        <p>{{error}}</p>
    </div>

{{>footer}}

</body>
</html>