<!DOCTYPE html>
<html>
    <head>
         <link rel="icon" href="/images/weather.png">
        <title>About</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

<body>
<div class="main-content">
    {{>header}}
    <p>
        This was created by keerthisyna with guidence of andrewmead.It uses
        weather stack and mapbox to get things done.
    </p>
    <img class="portrait" src="/images/me.png">
</div>
{{>footer}}

</body>
</html>